name: Deploy To Production

env:
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}

on:
  workflow_run:
    workflows: [Docker Publish]
    types:
      - completed

jobs:
  deploy:
    runs-on: arc-runner-set-viodlar
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check out Manifest
        uses: actions/checkout@v4
        with:
          repository: samma-io/deploy
          ref: main
          path: manifest
          ssh-key: ${{ secrets.SAM_SSH }}

      - name: Deploy
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: |
            helm template chart/ --set image.tag=${{ github.sha }} > manifest/app/deploy.yaml
            cat manifest/app/deploy.yaml

      - name: GIT commit and push all changed files
        env:
          CI_COMMIT_MESSAGE: Continuous Integration Build Artifacts
          CI_COMMIT_AUTHOR: Continuous Integration
        run: |
          cd manifest
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email "username@users.noreply.github.com"
          git add app/deploy.yaml
          git commit -a -m "${{ env.CI_COMMIT_MESSAGE }}"
          git push

      - name: Send custom JSON data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {"text":"The repo ${{ github.repository }} is build and ready for cluster to deploy"}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
